@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');


/* Variables */


:root {
  --black: rgba(0, 0, 0, 1);
  --midnight-blue: rgba(22, 61, 110, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xs: 21px;
  --font-size-s: 22px;
  --font-size-m: 24px;
  --font-size-1: 40px;

}

.mid2 {
  margin-top: 100px;
  padding-left: 60px;
  padding-right: 200px;
}

.mid2 t {
  font-family: degular, sans-serif;
  font-style: regular;
  font-weight: 400;
  font-size: 20px;
}

.mid2 d {
  font-family: degular, sans-serif;
  font-style: regular;
  font-weight: 400;
  font-size: 20px;
  padding-left: 80px;
}

.mid2 l {
  font-family: degular, sans-serif;
  font-style: regular;
  font-weight: 400;
  font-size: 15px;
}

.mid2 r {
  font-family: degular, sans-serif;
  font-style: regular;
  font-weight: 400;
  font-size: 15px;
}

.nav-item {
  position: relative;
  /* set the position of the nav item to relative */
}

.nav-item:hover::after {
  content: '';
  position: absolute;
  left: 15%;
  bottom: -2px !important;
  width: 70%;
  height: 1px;
  border-bottom: 1.5px solid #F0CEFF;
  /* replace background-color with border */
  animation: border-animate 0.3s forwards;
}

.slide-in-text {
  opacity: 0;
  animation-name: slide-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slide-in {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes border-animate {
  0% {
    transform: scaleX(0);
    /* set the initial state of the animation */
  }

  100% {
    transform: scaleX(1);
    /* set the final state of the animation */
  }
}

.cover {
  margin-top: 100px;
  padding-left: 60px;
  padding-right: 200px;
}


.special-font {
  font-family: afronaut, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
}

.cover p {
  line-height: 1.2;
  font-family: degular, sans-serif;
  font-style: regular;
  font-weight: 520;
  font-size: 62px;
}

.cover t {
  margin-top: 50px;
  line-height: 1.3;
  font-family: degular, sans-serif;
  font-style: regular;
  font-weight: 400;
  font-size: 25px;
}

.middle {
  margin-top: 300px;
  height: 150px;
  padding-left: 60px;
}

.middle p {
  line-height: 1.2;
  font-family: degular, sans-serif;
  font-style: regular;
  font-weight: 520;
  font-size: 29px;
  padding-top: 40px;
  color: rgb(255, 255, 255);
}

.experiences {
  padding-left: 60px;
  display: flex;
  flex-wrap: wrap;
}

.experience {
  width: 350px;
  height: 300px;
  margin: 10px;
  text-align: left;
  padding-left: 30px;
  line-height: 100px;
  color: black;
  border: 2px solid;
  font-weight: bold;
  border-radius: 30px;
  font-family: afronaut, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
}

.color1 {
  border-color: rgb(255, 225, 225);
}

.color2 {
  border-color: rgb(207, 255, 207);
}

.color3 {
  border-color: rgb(197, 245, 255);
}

.color4 {
  border-color: rgb(254, 255, 212);
}

.special-font2 {
  font-family: afronaut, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
}

.button {
  display: inline-block;
  border: 2px solid #f2d2ff;
  padding: 0.5em 1em;
  margin: 0.5em;
  color: #000;
  cursor: pointer;
  background-color: transparent;
  border-radius: 30px;
}

.button.clicked {
  background-color: #801eff;
  color: #ffd000;
}

.navbar {
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: degular, sans-serif;
  font-style: regular;
  font-weight: 200;
  font-size: 20px;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 40px;
  opacity: 50%;
  background-color: rgb(251, 211, 255);
  transition: width 0.5s ease-in-out;
  z-index: -1;
}

.highlight:hover::before {
  width: 100%;
  transition: width 0.5s ease-in-out;
}


.navbar-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  /* adjust the padding as needed */
}

.nav-link {
  margin: 0 10px;
  /* adjust the margin as needed */
}

.rotate {
  position: absolute;
  top: 10%;
  /* center the star vertically */
  left: 55%;
  /* center the star horizontally */
  transform: translate(-50%, -50%);
  /* adjust the star position to be centered */
  z-index: -2;
  /* set the z-index to be behind the text */
  animation: spin 30s linear infinite;
}

.rotate2 {
  position: absolute;
  top: 60%;
  /* center the star vertically */
  left: -4%;
  /* center the star horizontally */
  transform: translate(-50%, -50%);
  /* adjust the star position to be centered */
  z-index: -2;
  /* set the z-index to be behind the text */
  animation: spin 15s linear infinite;
}

.gradient1 {
  position: absolute;
  top: 100%;
  /* center the star vertically */
  left: 50%;
  /* center the star horizontally */
  transform: translate(-50%, -50%);
  /* adjust the star position to be centered */
  z-index: -2;
}

.gradient2 {
  position: absolute;
  top: 40%;
  /* center the star vertically */
  left: 0%;
  /* center the star horizontally */
  transform: translate(-50%, -50%);
  /* adjust the star position to be centered */
  z-index: -2;
}

.footer {
  margin-top: 10px;
  padding-left: 60px;
  padding-right: 200px;
}

.footer p {
  text-align: center;
  line-height: 1.2;
  font-family: degular, sans-serif;
  font-style: regular;
  font-weight: 200;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}